.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(214, 239, 49, 0.8); /* Banana yellow with opacity */
}

.logo-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 100%;
  height: auto;
}

.game-name {
  font-size: 36px;
  color: greenyellow;
  margin: 20px 0;
}

.loading-text {
  font-size: 24px;
  color: #333;
}

@keyframes bounceLogo {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
